<!DOCTYPE html>
<html lang="en">
    <h1 class="text-center">RESULTADOS CALCULADORA</h1>
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron jumbotron-fluid">
        <div>
            <%= muestraID %>
        </div>
        <div>
            <%= contOperaciones %>
        </div>
        <div>
            <%= historicoOperaciones %>
        </div>
    </div>
    <form method="get" action="/" class="text-center">
        <button  class="btn btn-primary btn-lg" type="submit">Volver a la calculadora</button>
    </form><br>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>